fastapi==0.115.0
uvicorn==0.32.0
pydantic==2.9.2
python-multipart==0.0.12
docling==2.0.0
langchain==0.3.7
langchain-community==0.3.5
langchain-cohere==0.3.1
langchain-groq==0.2.1
langchain-qdrant==0.1.4
langchain-text-splitters==0.3.2
qdrant-client==1.12.1
fastembed==0.8.0
cohere==5.13.0
python-dotenv==1.0.1
